@model  WebApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";

    /* This is a Comment - Below we dynamically set class name*/
    var className = Model.Customers.Count>=2 ? "popularMovie" : null;
}

@*  This is also a comment block
    it can be multine
*@

<h2>@Model.Movie.Name</h2>

@if (Model.Customers.Count==0) {
    <text>No one has tented this movie before</text>
}
else {
    <ul>
        @foreach(var customer in Model.Customers) {
            <li>@customer.Name</li>
        }
    </ul>
}